 <!-- INíCIO do CONTEÚDO -->
 <section class="content-header">
  
  
</section>


<section class="content" style="background-color: white;">
  <img style="padding-left:60px ;" src="https://s0.2mdn.net/9913688/YDRAY-Midia_Display_970x250.jpg">
  <h1 style="color: chocolate;">
    TODAS RECEITAS
  </h1>
  <table>
    <tr>
      <td>
  <ul class="list-group">
    <li class="list-group-item" style=" width: 175px; margin-top: 10px; background-color:#fafafa ; font-size: 20px; color:chocolate;"><p>RECEITAS</p></li>
    <li class="list-group-item" style=" width: 175px;">TORTA ALEMÃ</li>
    <li class="list-group-item" style=" width: 175px;">BOLO IORGUTE</li>
    <li class="list-group-item" style="width: 175px;">COSTELA</li>
    <li class="list-group-item" style="width: 175px;">HAMBURGUER</li>
    <li class="list-group-item" style=" width: 175px;">ARROZ DE FORNO</li>
    <li class="list-group-item" style="width: 175px;">MOLHO BRANCO</li>
    <li class="list-group-item" style="width: 175px;">CAPPUCINO</li>
    <li class="list-group-item" style="width: 175px;">MILK SHAKE</li>
    <li class="list-group-item" style="width: 175px;">BRIGADEIRÃO</li>
    <li class="list-group-item" style="width: 175px;">PUDIM</li>
    <li class="list-group-item" style="width: 175px;">PANQUECA</li>
    <li class="list-group-item" style="width: 175px;">SALADA GOURMT</li>
    <li class="list-group-item" style="width: 175px;">BOLO DE FUBA</li>
    <li class="list-group-item" style="width: 175px;">ABOBRINHA AO MOLHO</li>
    <li class="list-group-item" style="width: 175px;">STROGONOFE</li>
    <li class="list-group-item" style="width: 175px;">COSTELA</li>
    <li class="list-group-item" style="width: 175px;">BRIGADEIRO FIT</li>
    <li class="list-group-item" style="width: 175px;">ARROZ DE FORNO</li>
    <li class="list-group-item" style="width: 175px;">BOLO DE CENOURA</li>
    <li class="list-group-item" style="width: 175px;">NHOQUE A BOLONHESA</li>
  </ul>
</td>
<td>
  <div class="row" style="padding-left:50px; ">

          <div class="col-sm-8 col-xs-16" *ngFor="let restaurant of restaurants">
            <app-restaurant [restaurant]="restaurant"></app-restaurant>
          </div>
        </div>
      </td>
      </tr>

      
  </table>    


</section>


<!-- FIM do CONTEÚDO -->
