<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header" >
</section>


<section class="content" style="background-color: white;">
  <style>
    
    a{
      background-color:#A9A9A9;
      margin-top: 10px;
    }
  </style>
  
  

  <div>
    <table>
  <tr>
    <td><img src="https://img.itdg.com.br/tdg/images/video/000/310/946/oawo9_dqNBiYtb2ay1Zs_Q_thumb.jpg?mode=crop&width=710&height=400"></td>
  <td>
    <img style="padding-left: 20px;" src="https://tpc.googlesyndication.com/simgad/10932253177436905960?">
    <img style="padding-left: 20px; padding-top: 10px;" src="https://img.itdg.com.br/tdg/images/blog/uploads/2018/01/tomate-seco.jpg?mode=crop&width=160&height=220"></td>
  </tr>
  </table>
  </div>



<h1 style="text-align: center;">As Receitas do Momento</h1>

  <table >
    <tr>
    <TD style="padding-right: 10px; padding-left: 80px; text-align: center;"> <img src="https://assets.myfoodandfamily.com/adaptivemedia/rendition/552832_1500X1000.tif?id=bf919359954d84d34480e517e3e2661aeca80e93&ht=210&wd=210" width="200px"><h4>Bacon Cheeseburgers</h4>  </TD>
    <TD style="padding-right: 10px; text-align: center;"> <img src="https://assets.kraftfoods.com/recipe_images/opendeploy/119204_640x428.jpg" width="200px"><h4>Macarrão com frango</h4> </TD>
    <TD style="padding-right: 10px;text-align: center;"> <img src="https://assets.kraftfoods.com/recipe_images/opendeploy/55479_640x428.jpg" width="200px"><h4> Torta De Manteiga De Amendoim</h4></TD>
    <TD style="padding-right: 10px;text-align: center;"> <img src="https://assets.kraftfoods.com/recipe_images/opendeploy/178339_640x428.jpg" width="200px"><h4> Berry Cheesecake</h4></TD>
    <TD style="padding-right: 10px;text-align: center;"> <img src="https://assets.kraftfoods.com/recipe_images/opendeploy/91984_640x428.jpg" width="200px"><h4>Tomate grelhado</h4></TD>
    </tr>
  </table>

  
  <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']" style="margin-left: 500px; margin-bottom: 20px"> Ver receitas</a>
</section>
<!-- FIM DO CONTEÚDO -->

